@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Light Theme */
  --color-bg-light: #FBFBFB;
  --color-card-light: #E8F9FF;
  --color-accent-light: #C4D9FF;
  --color-accentdeep-light: #C5BAFF;
  --color-accent-light-hover: #9984ff;
  --color-dustygreen-light: #5D866C;

  --color-bg-dark: #18122B;
  --color-card-dark: #635985;
  --color-accent-dark: #443C68;
  --color-accentdeep-dark: #393053;
  --color-accent-dark-hover: #393053;
  --color-dustygreen-dark: #5D866C;

}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;        /* Firefox */
    -ms-overflow-style: auto;     /* IE 10+ */
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;                   /* Chrome, Edge, Safari */
    height: 6px;                  /* horizontal scrollbar */
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
}